# Configuration values for the Jellyfin Helm chart
# https://github.com/jellyfin/jellyfin-helm/blob/master/charts/jellyfin/values.yaml

image:
  # https://github.com/jellyfin/jellyfin/releases
  # https://hub.docker.com/r/jellyfin/jellyfin/tags
  repository: docker.io/jellyfin/jellyfin
  tag: "10.11.2"

resources:
  requests:
    cpu: 250m
    memory: 500Mi
  limits:
    cpu: 2
    memory: 1.5Gi

deploymentStrategy:
  type: Recreate

volumes:
  - name: hwa
    hostPath:
      path: /dev/dri
  - name: tmp
    emptyDir: {}

volumeMounts:
  - name: hwa
    mountPath: /dev/dri
  - name: tmp
    mountPath: /tmp

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534
  runAsGroup: 65534

securityContext:
  privileged: false
  readOnlyRootFilesystem: true
  capabilities:
    add:
      - "SYS_ADMIN"
    drop:
      - "ALL"

serviceAccount:
  create: true
  automount: false

livenessProve:
  enabled: false

readinessProbe:
  enabled: true
  periodSeconds: 15

persistence:
  config:
    enabled: true
    size: 1Gi
    storageClass: "local-path-btrfs"
  media:
    enabled: true
    annotations:
      # No need to back up this data
      backup-enabled: "false"
    size: 1000Gi
    storageClass: "external-btrfs"

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
    - host: "media.cubieserver.de"
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: "media.cubieserver.de-ingress-cert"
      hosts: ["media.cubieserver.de"]
