# Upstream: https://github.com/k3s-io/k3s/blob/master/k3s.service
[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target
After=network-online.target # hard dependency
After=tailscaled.service
Requires=tailscaled.service # hard dependency

[Service]
Type=notify
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
EnvironmentFile=-/etc/systemd/system/%N.service.env
ExecStartPre=/bin/sh -xc '! /usr/bin/systemctl is-enabled --quiet nm-cloud-setup.service'
ExecStart=/usr/local/bin/k3s {{ k3s_mode }} \
{% if k3s_mode == "server" %}
                             --disable traefik --disable-cloud-controller \
                             --egress-selector-mode pod \
                             --advertise-address {{ tailscale_ip }} \
{% endif %}
                             --node-ip {{ tailscale_ip }} \
                             --flannel-iface {{ tailscale_interface }}

KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=10485760
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
